<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes"> <!-- 新しいタグ（推奨） -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S82V7HW0CC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-S82V7HW0CC');
    </script>

    <%= yield :head %>

    <!-- OGP Meta Tags -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'リアルタイムしりとりゲーム' %>">
    <meta property="og:description" content="誰でも参加できるゆる〜いリアルタイムしりとりゲーム！漢字も使えて最後が「ん」で終わると負けです。ぜひ一緒にプレイしましょう！">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= asset_path('og.png') %>"> <!-- サムネイル画像 -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'リアルタイムしりとりゲーム' %>">
    <meta name="twitter:description" content="誰でも参加できるゆる〜いリアルタイムしりとりゲーム！一緒にプレイしましょう！">
    <meta name="twitter:image" content="<%= asset_path('og.png') %>">
    <meta name="twitter:url" content="<%= request.original_url %>">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
